<app-toolbar></app-toolbar>

<br />
<br fxHide.lt-md />
<div class="container" style="position: relative">
  <p class="mat-body-2" class="text">
    Upload images, convert them to jpg, png, webp, compress and crop them to your liking. It has never been so easy !!!!
  </p>
  <br />
  <br fxHide.lt-md />
  <div
    class="py-3"
    style="column-gap: 1rem; row-gap: 1rem"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutAlign.lt-md="center start"
  >
    <ngp-image-picker
      *ngFor="let image of galleryImages; let i = index"
      [_imageSrc]="image.image"
      [_config]="imagePickerConf"
      ($imageChanged)="onImageChange($event, i)"
    >
    </ngp-image-picker>
  </div>

  <br />
  <br />

  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <p ngClass.gt-sm="m-3" ngClass.lt-md="m-1">
      <button style="width: 200px !important" mat-stroked-button (click)="onDownloadAll()">
        <mat-icon>download</mat-icon>
        Download all
      </button>
    </p>
    <p ngClass.gt-sm="m-3" ngClass.lt-md="m-1">
      <button style="width: 200px !important" color="warn" mat-stroked-button (click)="onRemoveAll()">
        <mat-icon>delete</mat-icon>
        Delete all
      </button>
    </p>
  </div>
</div>

<!-- <div class="container" id="footer" style="width: 100%">
  <mat-toolbar color="primary">
    <span>V {{ version }}</span>
    <span class="example-spacer"></span>

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <p class="mat-caption mr-2" style="text-align: center">powered by</p>
      <span class="mat-body mr-2"> jalejandro2928 </span>
    </div>

    <img
      src="../../../assets/images/avatar.jpg"
      alt="jalejandro2928"
      style="width: 40px; height: 40px; border-radius: 50%"
    />
  </mat-toolbar>
</div> -->
