.container {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}


//---------Poner todos los estilos que de cada step en particular-------------///

:host::ng-deep {
  .image-holder {
    border: 1px dashed rgba(0, 0, 0, .2) !important;
  }

  .editing-bar-btn {
    mat-icon {
      color: rgba(0, 0, 0, .5);
    }
  }
}


.image-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.example-spacer {
  flex: 1 1 auto;
}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  @media (max-width:800px) {
    padding: 0px;
  }

}

#footer {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  @media (max-width:800px) {
    padding: 0px;
  }
}
