<div id="nav-bar" class="container">
  <p>
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Centro de imágenes</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>share</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item fxLayout="row" fxFlexAlign="start center">
          <a [href]="this.linkFacebook" target="_blank" data-mce-target="_blank"><img src="../../../assets/images/facebook.svg"
              alt="social-icons-02-1" style="width: 40px; height: 40px; border-radius: 50%;">
          </a>
          &nbsp;
          facebook
        </button>
        <!-- <button mat-menu-item fxLayout="row" fxFlexAlign="start center">
          <a [href]="this.linkLinkedin" target="_blank" data-mce-target="_blank"><img src="../../../assets/images/linkedin.svg"
              alt="social-icons-02-1" style="width: 40px; height: 40px; border-radius: 50%;">
          </a>
          &nbsp;
          linkedin
        </button> -->
        <button mat-menu-item fxLayout="row" fxFlexAlign="start center">
          <a [href]="this.linkWhatApp" target="_blank" data-mce-target="_blank"><img src="../../../assets/images/whatsapp.png"
              alt="social-icons-02-1" style="width: 40px; height: 40px; border-radius: 50%;">
          </a>
          &nbsp;
          whatsapp
        </button>
        <!-- <button mat-menu-item fxLayout="row" fxFlexAlign="start center">
          <a [href]="this.linkTelegram" target="_blank" data-mce-target="_blank"><img src="../../../assets/images/telegram.png"
              alt="social-icons-02-1" style="width: 40px; height: 40px; border-radius: 50%;">
          </a>
          &nbsp;
          telegram
        </button> -->
      </mat-menu>
    </mat-toolbar>
  </p>
</div>

<div class="container" style="position: relative; ">
  <!-- <div class="image-holder my-4">
    <p class='mat-title mb-2'>Pick a image!</p>
    <ngp-image-picker [_config]="this.config" ($imageChanged)="onChangeImage($event)" ($imageOriginal)="onGetOriginalImage($event)">
    </ngp-image-picker>
  </div> -->
  <br>
  <p class="mat-body-2" class="text">
    Suba imágenes, conviértalas a formatos jpg, png, webp , comprímelas y recórtalas a su gusto. Nunca fue tan fácil !!!!

  </p>
  <div class="py-3" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem">
    <div class="card-image mt-3" *ngFor="let image of galleryImages; let i=index">
      <ngp-image-picker [_imageSrc]="image.image" [_config]="imagePickerConf" ($imageChanged)="onImageChange($event,i)">
      </ngp-image-picker>
    </div>
  </div>
  <p class="my-3">
    <button style="width: 200px !important;" color="primary" mat-stroked-button (click)="onDownloadAll()">
      <mat-icon>download</mat-icon>
      Descargarlas todas
    </button>
  </p>
  <p class="my-3">
    <button style="width: 200px !important;" color="warn" mat-stroked-button (click)="onRemoveAll()">
      <mat-icon>delete</mat-icon>
      Eliminarlas todas
    </button>
  </p>
</div>

<div class="container" id="footer" style="width: 100%;">
  <mat-toolbar color="primary">
    <span>V {{version}}</span>
    <span class="example-spacer"></span>

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <p class="mat-caption mr-2" style="text-align: center;">
        powered by
      </p>
      <span class="mat-body mr-2">
        jalejandro2928
      </span>
    </div>

    <img src="../../../assets/images/avatar.jpg" alt="jalejandro2928" style="width: 40px; height: 40px; border-radius: 50%;">
  </mat-toolbar>
</div>
