/* You can add global styles to this file, and also import other style files */
@use '@angular/material'as mat;

html,
body {
  background-color: #323232;
  color: #fff;
}

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/helpers/helpers";

// ---------------Material Themin -----------------///
@import "@angular/material/theming";
@include mat.core();
$custom-typography: mat.define-typography-config($font-family: "Poppins"
);
// Override the typography in the core CSS.
@include mat.core($custom-typography);

$primary: mat.define-palette(mat.$blue-palette, 900, 700, 600);
$accent: mat.define-palette(mat.$amber-palette, 600, 500, 400);
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat.define-dark-theme($primary, $accent, $warn);
@include mat.all-component-themes($default-theme);

// --------Global Styles for the Project-------------- ///

.container {
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
